{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Poll Me | Polls List</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />

    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <!-- ios support -->
    <link
      rel="apple-touch-icon"
      href="{% static 'img/icons/icon-72x72.png' %}"
    />
    <link
      rel="apple-touch-icon"
      href="{% static 'img/icons/icon-96x96.png' %}"
    />
    <link
      rel="apple-touch-icon"
      href="{% static 'img/icons/icon-128x128.png' %}"
    />
    <link
      rel="apple-touch-icon"
      href="{% static 'img/icons/icon-144x144.png' %}"
    />
    <link
      rel="apple-touch-icon"
      href="{% static 'img/icons/icon-152x152.png' %}"
    />
    <link
      rel="apple-touch-icon"
      href="{% static 'img/icons/icon-192x192.png' %}"
    />
    <link
      rel="apple-touch-icon"
      href="{% static 'img/icons/icon-384x384.png' %}"
    />
    <link
      rel="apple-touch-icon"
      href="{% static 'img/icons/icon-512x512.png' %}"
    />
    <meta name="apple-mobile-web-app-status-bar" content="#db4938" />
    <meta name="theme-color" content="#db4938" />

    {% block custom_css %}{% endblock custom_css %}
  </head>

  <body>
    {% include 'includes/navbar.html' %}
    {% block content %} {% endblock content%}

    <!-- All javascript files goes under here    -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    {% block custom_js %}{% endblock custom_js %}
  </body>
</html>
